* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: ;
}

#joke {
  font-style: italic;
}

#joke-container {
  background-color: rgb(80, 130, 160);
  height: 200px;
  width: 700px;
}
