@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", monospace;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg1.jpg") center/cover;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-msg {
  padding: 1rem;
  background-color: aliceblue;
}

#joke-box {
  padding: 0 1rem;
  height: 250px;
  width: 500px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.77);
}

#joke-box h1 {
  margin-top: 1rem;
}

#joke {
  margin: 2rem 0;
}

.header-msg {
  display: flex;
  align-items: center;
}

#weather {
  text-transform: capitalize;
  background-color: lime;
  border-radius: 50%;
}
#temp {
  font-weight: bold;
}

.reactions {
  margin-bottom: 1rem;
}

.btn {
  font-family: inherit;
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}
